# Moana Database Creation
Creates and database and loads Moana Project Mangōpare temperature sensor data into the new database.  This is a very simple sqlite database with only bare minimum measurement data and almost no metadata.  This could (and hopefully will) be easily expanded to multiple tables with appropriate (and necessary) metadata.

In [1]:
import sqlite3
import xarray as xr
import pandas as pd
import numpy as np
from sqlalchemy.engine import create_engine
from sqlalchemy.engine.base import Engine
from pandas.io import sql
import glob2 as glob
import validators
from siphon.catalog import TDSCatalog
import datetime as datetime
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

In [7]:
%sql sqlite:///moana.db

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

First, we create a table with measurement keys:

In [2]:
sql_statements = [ 
    """CREATE TABLE IF NOT EXISTS obs (
            tid INTEGER PRIMARY KEY, 
            file STR,
            date DATE, 
            time TIME,
            lat FLOAT NOT NULL,
            lon FLOAT NOT NULL,
            temp FLOAT NOT NULL, 
            qcflag INT NOT NULL
        );""",
]

# create a database connection
try:
    with sqlite3.connect('moana.db') as conn:
        # create a cursor
        cursor = conn.cursor()

        # execute statements
        for statement in sql_statements:
            cursor.execute(statement)

        # commit the changes
        conn.commit()

        print("Tables created successfully.")
except sqlite3.OperationalError as e:
    print("Failed to create tables:", e)

Tables created successfully.

The following methods open the netcdf files from the Mangōpare THREDDS server and insert files into the new database.

In [3]:
def data_insert(filename:str, disk_engine: Engine, cat):
    # load file and format columns
    try:
        ds = cat.datasets[filename].remote_access(use_xarray=True)
    except:
        ds = xr.open_dataset(filename)
    df = ds.to_dataframe().drop_duplicates().reset_index().drop(columns=['DEPTH_QC','TEMP_QC','POSITION_QC','TIME_QC','PRESSURE','PRESSURE_QC']).dropna()
    ds.close()
    df = df.rename(columns={"TIME":"time", "LATITUDE":"lat", "LONGITUDE":"lon", "TEMP":"temp", "DEPTH":"depth", "QC_FLAG":"qcflag"})
    #df['time'] = df['time'].dt.tz_localize('UTC')
    df['file'] = filename
    # insert into sql database
    df.to_sql('observations', disk_engine, if_exists='append')
    return disk_engine

In [4]:
def load_moana(
        start_date: np.datetime64,
        end_date: np.datetime64,
        disk_engine: Engine = create_engine('sqlite:///moana.db'),
        source: str = "http://thredds.moanaproject.org:6443/thredds/catalog/moana/Mangopare/public/catalog.html"
):
    """Loads public Mangōpare data from the Moana Project THREDDS server,
    or local directory, between start_date and end_date.  Inserts data
    into sqlite database

    Parameters
    ----------
    source : str, optional
        THREDDS server url, by default "http://thredds.moanaproject.org:6443/thredds/catalog/moana/Mangopare/public/catalog.html"
        or directory to find files in, e.g., '/path_to_files/*.nc'
    start_date : np.datetime64, optional
        Start of desired date range, by default start_date
    end_date : np.datetime64, optional
        End of desired date range, by default end_date

    Returns
    -------
    Updated database
    """

    if validators.url(source):
    # load THREDDS catalog
        cat = TDSCatalog(source)
        filelist = sorted(cat.datasets)
    else:
        filelist = glob.glob(source)

    ingested_files = []
    failed_files = []

    for file in filelist:
        try:
            sdn = pd.to_datetime(file[6:14], format="%Y%m%d").to_numpy()
            if (sdn < start_date) or (sdn > end_date):
                continue
            disk_engine = data_insert(filename = file, disk_engine = disk_engine, cat = cat)
            ingested_files.append(file)
        except Exception as e:
            failed_files.append(file)
            print(e)
            continue
    return disk_engine, ingested_files, failed_files

Now we choose a start and date date of the data we'd like to include connect to the database, and insert the data from the THREDDS server:

In [5]:
start_date = np.datetime64("2024-12-19")
end_date = np.datetime64("2024-12-31")
disk_engine = create_engine('sqlite:///moana.db')
disk_engine, ig, ff = load_moana(start_date, end_date)

Lastly, double check the first and last deployment datetime by querying the database:

In [8]:
disk_engine = create_engine('sqlite:////Users/jkat/source/moana-plots/moana.db')
qc_flag_max = 3
moana_df = pd.read_sql_query('SELECT MIN(time) as atime, AVG(lat) as alat, AVG(lon) as alon FROM observations WHERE qcflag<'+str(qc_flag_max)+' GROUP BY file', disk_engine)

In [9]:
df = pd.read_sql_query(
    "SELECT MAX(time) as maxt, MIN(time) as mint FROM observations",
    disk_engine,
)
df

                         maxt  mint
0  2024-12-30 20:59:29.000000     0